<a href="https://colab.research.google.com/github/Ribeka8451/Python-cochex/blob/Master/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello python')

Hello python

In [20]:
Datatypes:--

   The type of data which can be stored is variable/identific

A variable is like a container that stores the values

a = 50
A = 50

Variable Naming Conventions :--

1. A variable cannot begin with number

2. The Variables are case sensitive.

3. Variable names should not be reserved word or keywords

4. No special Characters are used except under

5. Variables should be have some specific meaning

6. Variables can be of unlimited length

a = 50
A = 50

age = 45
Name =
places =


#Comments :---

#Single line Comments

...
#Multi line Comments
...

#Types of datatypes:--

#1. Numbers

#2. String

#3. List

#4. tuple

#5. Dictionary

#6. Boolean

#7. Set

# Numbers:--
# 1) Integers(int Datatypes):--
#a = 10
b = 20
c = 10000

print(a)
print(b)
print(c)


# 2) floating point Numbers (float datatype)
num = 3.2456895
no2 = 544564.2654

print(num)
print(no2)


# 3) Complex numbers(complex datatype):-
# maths form of :- a+bi and in python :- a+bj
# a and b are real nos
# j = imaginary number (sqrt(-1))

x = 3+4j
y = 5+7j

print(x)
print(y)

SyntaxError: invalid syntax (<ipython-input-20-7facce899aca>, line 1)

In [3]:
# 2) String:--
#Combination of Charcaters (a, b, c, d, e, f, .....z , A , B , C, D , E , ....Z , 1 , 2 , 3 ,, . )
# it is enclosed in double quotes , single quotes

Name = "Coachx"
print(Name)
print("The name of the platform which we will are learning the python is " ,Name)


Name2 = 'Students'
print(Name2)

Coachx
The name of the platform which we will are learning the python is  Coachx
Students

In [6]:
#List Datatype :-- It is an Ordered Sequence of items

emp_id = [1,2,3,4,5,6,7,8,9,1,0,2,3,5,6,8,89,9,5,5,6,5]
print("The Employees ID's are :" , emp_id)

Multiple_list = ["Students" , 1,2,4,56,6,3,12432,546 , 'h', "jkjsd"]
print(Multiple_list)

The Employees ID's are : [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 0, 2, 3, 5, 6, 8, 89, 9, 5, 5, 6, 5]
['Students', 1, 2, 4, 56, 6, 3, 12432, 546, 'h', 'jkjsd']

In [8]:
# tuples Datatype :--(Imutability)
# It is a collection Ordered Sequence of items

t1 = (1,2,3,4,5,6,7)
print(t1)

t2 = ("Students" , 1,2,4,56,6,3,12432,546 , 'h', "jkjsd")
print(t2)

(1, 2, 3, 4, 5, 6, 7)
('Students', 1, 2, 4, 56, 6, 3, 12432, 546, 'h', 'jkjsd')

In [1]:

#dictionary datatype :--
# Is an unordered Collection of Key_Value pairs

d1 = {
    "Name":"Hitesh",
    "Location":"Pune",
    "Visited" :"Congo" ,
    "Contact Nos":"99965433221",
    "Empty":" "

}

print(d1)

{'Name': 'Hitesh', 'Location': 'Pune', 'Visited': 'Congo', 'Contact Nos': '99965433221', 'Empty': ' '}

In [12]:
#SET :-- Unique Collection of items its called set

s1 = {1,2,3,4,5,6,7}
print(s1)

s2 = {1,1,1,2,2,3,3,3,4,4,4}
l1 = [1,1,1,2,2,3,3,4,4,5,5]
print(s2)
print(l1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4}
[1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [ ]:
List :-- []
tuple :-- ()
dic :-- {"Key":"Value"}
Set :-- {"Unique Values"}

In [15]:
#Boolean :---
#True
#False

a = 10
b = a

print(a==b)

a = 20
b = 30
c = a
d = b

print(d)

True
30

In [24]:
#How to check the dataype of any variable:

#Types():--
a = 10
print(type(a))

b = 10.00
print(type(b))

c = "Hi"
print(type(c))

d = True
print(type(d))

l1 = [1,2,3]
print(type(l1))

d1 = {"Key":"Value"}
print(type(d1))

s2 = {1,2,3}
print(type(s2))

t = ()
print(type(t))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [36]:
Name = "Manoj"
Age = 45
print("Name is : ", Name , "and age is :", Age)


#format menthod:--

Name is :  Manoj and age is : 45