<a href="https://colab.research.google.com/github/Ribeka8451/Python-cochex/blob/Master/SET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# what is set?
# A set is Unordered collection of items
# Every elements is unique (no duplicate)
# Set is represented with {} braces

# Sets performs Various Operations:-

# Union
# Intersection
# Difference
# Symmteric Difference
# Comparison
# Subset and Superset

In [2]:
a = {1,2,3,4,5,7,8,9,10}
print(a)
for i in a:
  print(i)

{1, 2, 3, 4, 5, 7, 8, 9, 10}
1
2
3
4
5
7
8
9
10

In [4]:
b = {1,1,2,3,4,5,7,7,8,9,6} #Remove duplicates
print(b)
print(type(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [9]:
s = set('abc')
print(s)

s1 = set(range(1,11))
print(s1)

# True=1
# False=0

mixed_data_type = {0,1,2,3,1.0,3.14,3.00, True, False, "coachx", "Hi", '@'}
print(mixed_data_type)

{'b', 'a', 'c'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 3.14, '@', 'coachx', 'Hi'}

In [15]:
# deleting in set function:

b = {"A", "b", "B", "c", "D", "C"}
print(b)

b.discard("b") #remove selected items
print(b)

b.remove("A") #remove selected items
print(b)

b.pop()  #remove last chracter
print(b)

b.clear
print(b)

del b
print(b)

{'b', 'A', 'c', 'C', 'B', 'D'}
{'A', 'c', 'C', 'B', 'D'}
{'c', 'C', 'B', 'D'}
{'C', 'B', 'D'}
{'C', 'B', 'D'}

NameError: name 'b' is not defined

In [17]:
#Update the Sets
#add()
#update()

s_add = {1,2,3,4,5,6,7}
print(s_add)
s_add.add(10)
print(s_add)

s_1 = {'a', 'b','c'}
s_2 = {1,2,3}
s_1.update(s_2)
print(s_1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10}
{'b', 'a', 'c', 1, 2, 3}

In [10]:
# Basic Set Operations

# union
A = {1,2,3,4,5,6}
B = {8,9,10}
C = A|B
print("Union of the set", C)

# Intersection of set

a = {1,2,3,4,5,6}
b = {1,2,3,4}
c = a&b
print("Intersection of a & b", c)

# Difference of the set
DayA = set(["Mon", "Tues", "Wed"])
DayB = set(["Wed", "Thurs", "Fri", "Sat", "Sun"])
ALLDAYS = DayA - DayB
print("Difference of the set", ALLDAYS)

# Symmteric Difference
SD1 = {1,2,3,4,6,7}
SD2 = {1,2,3,9,8,5}
SD3 = SD1 ^ SD2
SD4 = SD1 - SD2
SD5 = SD2 - SD1
SD6 = SD4 - SD5
print("Symmteric Difference of the data:", SD3)
print(SD6)

# Comparison of the sets
DayA = set(["Mon", "Tues", "Wed"])
DayB = set(["Mon", "Tues", "Wed", "Thurs", "Fri", "Sat", "Sun"])

subsetRes = DayA<=DayB
supersetRes = DayB>=DayA

print(subsetRes)
print(supersetRes)

Union of the set {1, 2, 3, 4, 5, 6, 8, 9, 10}
Intersection of a & b {1, 2, 3, 4}
Difference of the set {'Mon', 'Tues'}
Symmteric Difference of the data: {4, 5, 6, 7, 8, 9}
{4, 6, 7}
True
True