<a href="https://colab.research.google.com/github/Ribeka8451/Python-cochex/blob/Master/Strings_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Escape Characters:--
#\n - newline
#\b - backspace
#\t - tab
#\a - alert
#\xh.. :- hexvalue
#\e - escape

print("This is printed in \n in two lines")
print("This is printed in \tin in two lines")
print("This is printed in\bin in two lines")
print("This is printed in \a in two lines")

print("This is \x48\x45\x58 representation")
print("This is \x10 representation")

print(hex(255))

print(hex(100))

This is printed in
 in two lines
This is printed in 	in in two lines
This is printed inin in two lines
This is printed in  in two lines
This is HEX representation
This is  representation
0xff
0x64

In [ ]:
# String special Operators:-


# + :- Concatenation\n",
# "\n",
# "# * :- Repetition\n",
# "# [] :- Slicing / indexing\n",
# "\n",
# "# [:] :- Range of Slices\n",
# "\n",
# "# in :- Membership Operator\n",
# "\n",
# "# not in :- Membership Operator\n",
# "\n",
# "# % :- Formatting Operators( String Formatting)\n", "\n"



# + :- Concatenation
a = "hello "
b = "Python"
c = a+b
print(c)
print(a+b)

hello Python
hello Python

In [ ]:
# * :- Repetition

b = "Python "
print(b*4)

Python Python Python Python

In [ ]:
# in :- Membership Operators:-

str1 = "Hello"
print("H" in str1)
print("h" in str1)

# not in :-- membership operator
print("h" not in str1)
print("H" not in str1)

True
False
True
False

In [ ]:
# % Formatting Oprators(String Formatting)

# % :-- string
# %d/ or %i :-- integer
#%c :- character

print("My name is %s and age is %d" %("Vipul" ,24))
print("My name is %d and age is %s" %(24, "Vipul"))

val = 'R'
val2 = 'H'
print("The name Raman starts with letter - %c and %c "%(val, val2))

My name is Vipul and age is 24
My name is 24 and age is Vipul
The name Raman starts with letter - R and H

In [12]:
#Built-in string method:--

s1 = "python programming"
print(s1.capitalize())



print(s1.center(40 , '&'))

print(s1.count('o'))

s2 = ["Orange", "Mango", "Banana"]
s3 = enumerate (s2, 1)
print(s3)
print(list(s3))


#isalnum()
#isalpha()
#isdigit()
#islower()
#isnumeric()
#istitle()
#isupper()

s3 = "python"
print(s3.isalnum())
print(s3.isalpha())

str1 = "python"
print(str1 [::-1])

Python programming
&&&&&&&&&&&python programming&&&&&&&&&&&
2
<enumerate object at 0x7bfc0beb10c0>
[(1, 'Orange'), (2, 'Mango'), (3, 'Banana')]
True
True
nohtyp

In [14]:
# sample string:- 'abc', 'xyc'
# output string:- 'xyc abz'

str1 = input("Enter first string")
str2 = input("Enter second string")
new_str1 = str2[:2] + str1[2:]
new_str2 = str1[:2] + str2[2:]
new_str = new_str1 + new_str2
print("The new string after swapping the first two character of both string is", (new_str1 +' '+new_str2))
print("The new string after swapping the first two character of both string is", new_str )

Enter first stringabc
Enter second stringxyc
The new string after swapping the first two character of both string is xyc abc
The new string after swapping the first two character of both string is xycabc