<a href="https://colab.research.google.com/github/Ribeka8451/Python-cochex/blob/Master/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tuples:-
# A tuple is collection of objects / items / values which are ordered and immutable.

# Difference between tuples and list:

# List
# List us collection of objects / items / values which are ordered as we as Unordered.
# List is a mutable.
# The syntax of list uses the sqaure braces []
# List has more functionality than tuple
# List are homogenous
# List always show the order

# Tuples:
# A tuple is collection of objects / items / values which are ordered
# Tuples having the feature of Imutability
# Syntax of tuples uses the parenthesis()
# Tuples having less functionality compared to lists
# Tuples are heterogenous

In [15]:
# Tuple assignment:

coachx = (11, "Vipul" , "Indore", 'A')
coachx = (12, "Hitesh" , "Pune", 'B')
coachx = (13, "Manoj" , "Meerut", 'C')

(id, name, city, A) = coachx
(id, name, city, B) = coachx
(id, name, city, C) = coachx


print(id)
print(name)
print(city)

13
Manoj
Meerut

In [5]:
# Creating the tuples:

t1 = (10,20,30) # Tuples with integer values
print(t1)

t2 = (10,20, 'abc' , 'a' , True , False , 3.14)
print(t2)



t3 = 10,20,30,40,50 #Tuple without parenthesis
print(t3)
print(type(t3))

t4 = (1,2,3,4,5,(7,8,9,10),'Python') #tuple inside the tuple
print(t4)

t5 = (1,2,3,4,5,[1,2,3,4,("python")] , ([1,2,3,4,5])) #tuples is said the heterogenous
print(t5)

(10, 20, 30)
(10, 20, 'abc', 'a', True, False, 3.14)
(10, 20, 30, 40, 50)
<class 'tuple'>
(1, 2, 3, 4, 5, (7, 8, 9, 10), 'Python')
(1, 2, 3, 4, 5, [1, 2, 3, 4, 'python'], [1, 2, 3, 4, 5])

In [10]:
# Accessing values from tuples
tup = (10,20, 'abc', '#', True , False , 3.14)
print(tup[1])
print(tup[-3])
print(tup[4])
print(tup[:5])

20
True
True
(10, 20, 'abc', '#', True)

In [11]:
#Updating the tuples :- (Imutability get typeError)
tup[1] = "python"
print(tup)

TypeError: 'tuple' object does not support item assignment

In [18]:
#Deleting the tuples

t12 = (1,2,3,4,5)
print(t12)
del t12
print(t12)

(1, 2, 3, 4, 5)

NameError: name 't12' is not defined

In [20]:
#Updating the tuple by using list
tupl1 = (1,2,3,4,5)
list1 = list(tupl1)
print(list1)
list1[0] = 10
print(list1)
tuples = tuple(list1)
print(tuples)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
(10, 2, 3, 4, 5)

In [3]:
#Basic Tuples Operations:-
# 1) Concatenation

t1 = (10,20,30)
t2 = (40,50,60)
t3 = t1+t2
print(t3)

# Repetion Operation:-


tu1 = (1,2,3,4,5)
print(tu1*5)

#Membership Operator
tup1 = (1,12,3,4,5,6)
print(12 in tup1)
print(12 not in tup1)

(10, 20, 30, 40, 50, 60)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False

In [14]:
# Traversing the tuple:-
tup12 = (1,2,3,4,5,6,7,8,9,10)
print(tup12)
for i in tup12:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1
2
3
4
5
6
7
8
9
10

In [16]:
# Built in functions:-

tuples1 = (1,2,3,4,5,6,7,8,9,10)
print(min(tuples1))
print(max(tuples1))
print(tuples1.count(2))
print(sum(tuples1))
print(len(tuples1))

1
10
1
55
10

In [20]:
t1 = (1,2,3)
t2 = ('A' , 'B' , 'C')
t3 = zip(t1 , t2)
print(list(t3))
print(tuple(t3))

tup11 = (1,2,3,4,5,6)
print(tup11[::-1])

[(1, 'A'), (2, 'B'), (3, 'C')]
()
(6, 5, 4, 3, 2, 1)